.App {
  text-align: center;
}

* {
  box-sizing: border-box !important;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex ;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.ui.header {
 
  color: white !important;
}


.nav22 {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;

}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
}

.Card {
  flex: 1;
  margin: 50px;
}
.ui.card {
  margin: 0em 0 !important;
}

.ui.card, .ui.cards>.card {
  max-width: 100% !important;

  flex-direction: column !important;
  width: 420px !important;
  min-height: -17px !important; 
  background: #fff !important;
  /* padding: 6px 31px 35px !important; */
  border: 0px solid black !important;
 
  z-index: '';
}

.ui.card>.content, .ui.cards>.card>.content {
  
  line-height: normal !important;
}

/* Default height for small devices */
#intro-example {
  height: 400px;
  width: 800px;
  background-color: #282c34;
}

/* Height for devices larger than 992px */
@media (min-width: 992px) {
  #intro-example {
    height: 600px;
    width: 1323px;;
    background-color: #282c34;
  }
}

.Areatext{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
}
